<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aakash_astro">
        <activity
            android:name=".DashaActivity"
            android:exported="false" />
        <activity
            android:name=".YoginiDashaActivity"
            android:exported="false" />
        <activity
            android:name=".CharaDashaActivity"
            android:exported="false" />
        <activity
            android:name=".YogiActivity"
            android:exported="false" />
        <activity
            android:name=".TransitActivity"
            android:exported="false" />
        <activity
            android:name=".TransitAnyActivity"
            android:exported="false" />
        <activity
            android:name=".OverlayActivity"
            android:exported="false" />
        <activity
            android:name=".OverlayNodesActivity"
            android:exported="false" />
        <activity
            android:name=".DivisionalChartsActivity"
            android:exported="false" />
        <activity
            android:name=".D60Activity"
            android:exported="false" />
        <activity
            android:name=".ShadbalaActivity"
            android:exported="false" />
        <activity
            android:name=".JaiminiKarakasActivity"
            android:exported="false" />
        <activity
            android:name=".ArudhaPadasActivity"
            android:exported="false" />
        <activity
            android:name=".IshtaDevataActivity"
            android:exported="false" />
        <activity
            android:name=".YogasActivity"
            android:exported="false" />
        <activity
            android:name=".SarvaAshtakavargaActivity"
            android:exported="false" />
        <activity
            android:name=".AshtakavargaBavActivity"
            android:exported="false" />
        <activity
            android:name=".IshtaKashtaHarshaActivity"
            android:exported="false" />
        <activity
            android:name=".PushkaraNavamshaActivity"
            android:exported="false" />
        <activity
            android:name=".PanchangaActivity"
            android:exported="false" />
        <activity
            android:name=".TaraBalaActivity"
            android:exported="false" />
        <activity
            android:name=".TaraBalaAnyActivity"
            android:exported="false" />
        <activity
            android:name=".SavedHoroscopesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SarvatobhadraActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".SixtyFourTwentyTwoActivity"
            android:exported="false" />
    </application>

</manifest>
